<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-pen">&nbsp;</i>
                Edit Contact
            </p>
            <p class="fst-italic">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius exercitationem debitis at! Commodi dicta earum cumque accusamus! Soluta a voluptates sint molestiae consequatur neque rerum blanditiis maiores sit eveniet? Temporibus?
            </p>
        </div>
    </div>
</div>

<!-- Edit Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div> 
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="PhotoUrl">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="MobileNo">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select Group </option>
                    </select>
                    <input type="submit" class="btn btn-success mt-1" value="Update">
                    <a href="/" class="btn btn-warning ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img" src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" alt="user">
        </div>
    </div>
</div>